@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* NavBar */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, Arial, sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    background: #eceaff;
    color: #525252;
}

nav {
    background: rgb(59, 56, 56);
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav ul {
    width: 100%;
    text-align: right;
}

.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul :hover {
    font-weight: 1000;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;

}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}
/* End of navbar styles */



/* Menu button styles */
.menu-button {
    display: none;
    /* Initially hidden on larger screens */
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin-right: 20px;
}

.menu-bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.mobile-menu {
    display: none;
}
/* End of menu button styles */



/* Media query for max-width 600px */
@media (max-width: 600px) {
    nav ul {
        display: none;
        /* Hide navigation list items on smaller screens */
    }

    .user-pic {
        margin-left: 10px;
        /* Adjust the user picture margin for better spacing */
    }

    .sub-menu-wrap {
        right: 5%;
        width: 280px;
    }

    .sub-menu-wrap.open-menu {
        max-height: 250px;
    }

    .sub-menu {
        padding: 10px;
        margin: 5px;
    }

    .user-info img {
        width: 40px;
    }

    .sub-menu-link img {
        width: 30px;
    }

    .menu-button {
        display: block;

        /* Show the menu button on smaller screens */
    }

    nav ul.open-menu {
        background: #fff;
        display: flex;
        /* Show the navigation items when the menu button is clicked */
        flex-direction: column;
        position: absolute;
        top: 110%;
        width: 35%;
        /* Adjust the top position as needed */
        right: 10px;
        /* Adjust the right position as needed */


        /* Set the background color for the menu */
        padding: 15px;

        border-radius: 10px;

        transition: max-height 0.5s;
        text-align: center;
    }

    nav ul.open-menu li {
        margin: 10px 0;
    }

    nav ul.open-menu li a {
        color: black;
        font-weight: 400;
    }

    .mobile-menu {
        /* Initially hidden on smaller screens */
        position: absolute;
        top: 50px;
        /* Adjust the top position as needed */
        right: 10px;
        /* Adjust the right position as needed */
        background: black;
        /* Set the background color for the menu */
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .mobile-menu.open-menu {
        display: flex;
        /* Show the mobile menu when the menu button is clicked */
        flex-direction: column;
        transition: max-height 100s;
    }

    .mobile-menu li {
        margin: 10px 0;
    }

    .menu-button.open-menu .menu-bar {
        background-color: #fff;

        /* Change the menu button bars to white when menu is open */
    }

    .mobile-menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .mobile-menu li a:hover {
        color: black;
        font-weight: 550;
        /* Change the link color on hover */
    }
}

/* End of media query */




/* Room_sample css */



main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5)
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.users {
    padding: 25px 30px;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    width: 50px;
    height: 50px;
}

:is(.users, .users-list) .details {
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span {
    font-size: 18px;
    font-weight: 500;
}

.users header .logout {
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 18px;
}

.users .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2 ease;
}

.users .search button.active {
    color: #fff;
    background: #333;
}

.users .search button.active i::before {
    content: "\f00d";
}

/* Users Area CSS Code */
.users-list {
    max-height: 350px;
    overflow-y: auto;
}

.users-list::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    margin-bottom: 10px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #468669;
}

/* used in django */
.users-list a .status-dot.offline {
    color: #ccc;
}

/* End of room_sample css */


/* Room messages */





.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgba(0 0 0 / 5%),
}

:is(.chat-box)::-webkit-scrollbar {
    width: 0px;
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: inset 0 0 32px rgba(0 0 0 / 8%),
        inset 0 16px 16px -16px rgba(0 0 0 / 10%),
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p {
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}